.moviesDetails {
  display: flex;
  gap: 30px;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  padding-bottom: 20px;
}

.poster {
  display: block;
  border-radius: 8px;
  width: 250px;
}

.extraInfo {
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  padding-bottom: 20px;
}
