nav {
  padding: 25px 25px;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.anchor {
  text-decoration: none;
  margin-right: 25px;
  font-size: large;
  font-weight: bold;
  color: black;
  &:global.active {
    color: red;
  }
}
